body {
  margin: 0;
  font-family: Arial, sans-serif;
  /*background: #0f172a;*/
  background-image: url("https://media.istockphoto.com/id/1410328699/video/4k-abstract-particle-background.avif?s=640x640&k=20&c=flXNmEi2tG3ZSstDPPrijd_FNnD25cs_xYdF6KtiQOQ=");
  background-size: cover;
  color: white;
}

.title {
  text-align: center;
  padding: 40px 0;
  font-size: 40px;
}


.tools-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* Large devices */
  gap: 30px;
  padding-bottom: 60px;
}

/* Medium Devices (Tablets) */
@media (max-width: 992px) {
  .tools-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small Devices (Mobiles) */
@media (max-width: 576px) {
  .tools-container {
    grid-template-columns: 1fr;
  }
}
.tool-card {
  background: #1e293b85;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tool-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.tool-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.tool-content {
  padding: 20px;
}

.tool-content h3 {
  margin: 0 0 10px;
  font-size: 22px;
}

.tool-content p {
  font-size: 15px;
  line-height: 1.5;
  color: #cbd5e1;
}
